<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://kit.fontawesome.com/cecc7403a6.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" media="all" href="//moiety.ru/css/swiper.min.css" />
      <link rel="stylesheet" media="all" href="//moiety.ru/css/style.css" />
   </head>
   <body>
      <header>
         <div class="container text-sm-center pt-3">
            <div class="row">
               <div class="col-12 col-md-3">
                  <span class="logo text-center">Moiety</span>
               </div>
               <div class="col-12 col-md-6">
                  <menu>
                     <a href="/">Главная</a>
                     <a href="/portfolio">Портфолио</a>
                     <a href="/about" data-title="Пока недоступно.">Обо мне</a>
                     <a href="/blog" data-title="Пока недоступно.">Блог</a>
                     <a href="/contacts" data-title="Пока недоступно.">Контакты</a>
                  </menu>
               </div>
               <div class="col-12 col-md-3">
                  <a href="#" class="purchase mb-3 d-none d-md-inline-block">
                  <i class="fas fa-laptop-house"></i>
                  Отправить задание
                  </a>
               </div>
            </div>
         </div>
      </header>
      <div class="container" content>
         {{{ body }}}
      </div>
      <div class="text-center mb-5">&copy; Ян Солоницын</div>
      <script src="//moiety.ru/js/jquery.min.js"></script>
      <script src="//moiety.ru/js/swiper.min.js"></script>
      <script src="//moiety.ru/js/unserialize.min.js"></script>
      <script src="//moiety.ru/js/bundle.js"></script>
   </body>
</html>